* {
  font-family: "Monaco", sans-serif;
  }

 body {
  /* padding: 2em;  */
  /* background-image: url("/images/sheetmetal.jpg"); */
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
  justify-content: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  }

  .title {
    font-weight: 1000px;
    font-size: 40px;
    padding: 10px;
    }
 
 .dropdown {
   justify-content: center;
   background-image: url("/images/sheetmetal.jpg");
   border-style: solid;
  border-radius: 20px;
  border-color: gray;
  border-width: thin;
  padding: 10px;
 }

 


 /* Dropdown Button */
.dropbtn {
    border-style: solid;
    background-image: radial-gradient(white 60%, lightgrey);
    border-radius: 20px;
    border-color: gray;
    border-width: thin;
    color: black;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-image: radial-gradient(white 80%, lightgrey);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
  }
 
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: rgb(24, 68, 54)}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

  
  .show {display:block;}


    /* flexbox ul */


  .dropdown {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0; 
    }
    
  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    /* margin: 10; */
      }

  .photo {
    justify-content: center;
    max-width: 600px;
    margin: 30px;
    /* position: absolute; */
    z-index: -2;
  }

  .photo img {
    z-index: -2;
  }

  .dashboard {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    list-style: none;
    margin: 10; 
    padding: 10;
      }

  .dashboard li {
    background-image: url("/images/sheetmetal.jpg");
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    border-style: solid;
    border-radius: 20px;
    border-color: gray;
    border-width: thin;
    font-weight: bold;
  }

  .dashboard button {
    margin: 5px;
    background-color: white;
    justify-content: center;
    border-style: solid;
    background-image: radial-gradient(white 60%, lightgrey);
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    padding: 5px;
  }

  .dashboard button:hover {
    background-image: radial-gradient(white, rgb(202, 62, 104));
  }

  input {
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
  }
    
  @media all and (max-width: 1400px) {
    .dropdown {
    justify-content: space-around;
    }

    .dashboard {
      flex-flow: row wrap;
    }

  }
  
  @media all and (max-width: 600px) {
    .dropdown {
      flex-flow: column wrap;
      padding: 10;
    }
    .dropdown a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .dropdown li:last-of-type a {
      border-bottom: none;
    }
    .dashboard {
      flex-flow: column wrap;
    }
  }

  canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
  }
  